apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: certificates.acm-manager.io
spec:
  group: acm-manager.io
  names:
    kind: Certificate
    listKind: CertificateList
    plural: certificates
    singular: certificate
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: Status
      type: string
    - jsonPath: .status.notBefore
      name: NotBefore
      type: string
    - jsonPath: .status.notAfter
      name: NotAfter
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Certificate is the Schema for the certificates API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: CertificateSpec defines the desired state of Certificate
            properties:
              commonName:
                description: DNS Common Name
                maxLength: 64
                pattern: ^(\*\.)?(([A-Za-z0-9-]{0,62}[A-Za-z0-9])\.)+([A-Za-z0-9-]{1,62}[A-Za-z0-9])$
                type: string
              subjectAlternativeNames:
                description: DNS Subject Alternative Names
                items:
                  type: string
                type: array
            required:
            - commonName
            type: object
          status:
            description: CertificateStatus defines the observed state of Certificate
            properties:
              certificateArn:
                description: Certificate ARN
                type: string
              notAfter:
                description: Certificate not after date
                format: date-time
                type: string
              notBefore:
                description: Certificate not before date
                format: date-time
                type: string
              resourceRecords:
                description: Resource Records for DNS validation
                items:
                  properties:
                    name:
                      description: Name
                      type: string
                    type:
                      description: The type of DNS record. Currently this can be CNAME.
                      type: string
                    value:
                      description: The value of the CNAME record to add to DNS
                      type: string
                  required:
                  - name
                  - type
                  - value
                  type: object
                type: array
              status:
                description: Certificate status
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
