name: Go Tests

on: pull_request

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up nix action
        uses: DeterminateSystems/determinate-nix-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Build and run Unit tests
        run: |
          source <(nix print-dev-env)
          go get -v -t -d ./...
          go build -v .
          make test-unit
